@import "tailwindcss";

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 35s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }
}

/* Custom scrollbar & smooth scrolling */
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #6366f1;
  color: #ffffff;
}